$title: 16px;
$subtitle: 13px;
$btnsMargin: 8px;
$border: #e1e1e1;
$primary: #6ea8dc;
$primaryHover: #7cafe4; // 鼠标悬浮颜色

@mixin bg_color($color) {
  background-color: $color;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

